// 公用卡片样式
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-size: 18px;
  }
}

// 表格样式

// 分页样式
.el-pagination {
  // 分页靠右展示
  justify-content: flex-end;
}

// 弹窗大小
.el-dialog.form {
  max-width: 576px;
  min-width: 360px;
  .el-dialog__body {
    // 表单内容过长出现滚动条
    padding: 15px 15px;
    max-height: 50vh;
    overflow-y: auto;
  }
}
.el-dialog.detail {
  max-width: 768px;
  min-width: 360px;
  .el-dialog__body {
    // 表单内容过长出现滚动条
    max-height: 55vh;
    overflow-y: auto;
  }
}

// 表格筛选栏
.content {
    $op-height:32px;
  .table-operation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    .op:not(:last-of-type) {
      margin-right: 25px;
    }
    .op {
      display: flex;
      flex-wrap: nowrap;
       white-space: nowrap; /* 让文字不换行 */
      label{
        margin-right: 12px;
        line-height: $op-height;
      }
      // 表单空间行高和label一样
      div{
        height: $op-height;
      }
    }
  }
}

// 表格分页插件
.el-pagination {
  // 一页显示不下换行显示
  flex-wrap: wrap;
  gap: 10px;
}

