.bkcolor{
  background-color: var(--el-bg-color);
}

.panel-bkcolor{
  background-color: var(--el-bg-color);
}

// 公用卡片样式
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-size: 18px;
  }
}

// 表格样式

// 分页样式
.el-pagination {
  margin-top: 15px;
  // 分页靠右展示
  justify-content: flex-end;
}

// 弹窗大小
.el-dialog.form {
  max-width: 576px;
  min-width: 360px;
  .el-dialog__body {
    // 表单内容过长出现滚动条
    padding: 15px 15px;
    max-height: 50vh;
    overflow-y: auto;
  }
}

@media screen and (min-width : 992px) {
  .el-dialog.detail {
    width: 768px;
  }
}
@media screen and (min-width : 768px) and (max-width : 992px) {
  .el-dialog.detail {
    width: 576px;
  }
}
@media screen and (max-width :768px) {
  .el-dialog.detail {
    width: 90%;
  }
}
.el-dialog.detail {
  .el-dialog__body {
    // 表单内容过长出现滚动条
    max-height: 55vh;
    overflow-y: auto;
    .el-descriptions {
      tr {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
      }
      .el-descriptions__label {
        width: 110px;
      }
      .el-descriptions__content {
        width: 100%;
      }
    }
  }
}

// 表格筛选栏
.content {
  $op-height: 32px;
  .table-operation {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    .op:not(:last-of-type) {
      margin-right: 25px;
    }
    .op {
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap; /* 让文字不换行 */
      label {
        margin-right: 12px;
        line-height: $op-height;
      }
      // 表单空间行高和label一样
      div {
        height: $op-height;
      }
    }
  }
  // 表格操作
  .operation{
    margin-bottom: 15px;
  }
}

// 表格分页插件
.el-pagination {
  // 一页显示不下换行显示
  flex-wrap: wrap;
  gap: 10px;
}

// 系统配置信息展示
.content {
  $op-height: 40px;
  .information {
    .config {
      margin: 0 auto;
      max-width: 768px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      white-space: nowrap; /* 让文字不换行 */
      font-size: 18px;
      .el-input,
      .el-textarea {
        min-width: 180px !important;
        input,
        textarea {
          font-size: 18px;
        }
      }
      label,
      textarea {
        margin-right: 12px;
      }
      // input空间行高和label一样 ==> 会导致其他类型的表单结构错乱
      // div {
      //   height: $op-height;
      // }
    }
    .config:not(:first-of-type) {
      margin-top: 15px;
    }
  }
  .update {
    .el-button {
      margin: 0 25px;
    }
    margin: 18px 0 25px 0;
    text-align: center;
  }
}

.ellipsis {
  overflow: hidden;
  // white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 显示的行数 */
  -webkit-box-orient: vertical;
}

// .tooltip{
//   font-size: 15px;
// }
